<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8"/>
<title>Admin menu page</title>
<style type="text/css">
    TABLE {
        border-collapse: collapse;
    }
    TD, TH {
        padding: 3px;
        border: 1px solid black;
    }
    TH {
        background: #b0e0e6;
    }
    .hdiv {
        display: inline-block;
        vertical-align: top;
    }
</style>
<head>
</head>
<body>
    <div class="hdiv">
        <table id="menutable">
            <thead>
            <tr>
                <th> Id </th>
                <th> Title </th>
                <th> Price </th>
                <th> Ingredients </th>
                <th> Weight </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${menu.empty}">
                <td colspan="2"> No menu available </td>
            </tr>
            <tr th:each="dish : ${menu}">
                <td><span th:text="${dish.id}"> Id </span></td>
                <td><span th:text="${dish.title}"> Title </span></td>
                <td><span th:text="${dish.price}"> Price </span></td>
                <td><span th:text="${dish.ingredients}"> Ingredients </span></td>
                <td><span th:text="${dish.weight}"> Weight </span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="hdiv">
        <form id = "adddishform">
            <table>
                <tr>
                    <td><label><b>Add dish to menu</b></label></td>
                </tr>
                <tr>
                    <td><b>title</b></td>
                    <td><input type="text" name="title" required="true"/></td>
                </tr>
                <tr>
                    <td><b>ingredients</b></td>
                    <td><input type="text" name="ingredients" required="true"/></td>
                </tr>
                <tr>
                    <td><b>weight</b></td>
                    <td><input type="text" name="weight" required="true"/></td>
                </tr>
                <tr>
                    <td><b>unit</b></td>
                    <td><input type="text" name="unit" required="true"/></td>
                </tr>
                <tr>
                    <td><b>price</b></td>
                    <td><input type="text" name="price" required="true"/></td>
                </tr>
                <tr>
                    <td><button type="button" onclick="sendData()">Add</button></td>
                </tr>
            </table>
        </form>
    </div>
    <script>
        function sendData(){
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/adddishtomenu");

            xhr.onload = function(event){
                alert("Success, server responded with: " + event.target.response);
                addRowRoMenuTable(event.target.response)
            };
            // or onerror, onabort
            var formData = new FormData(document.getElementById("adddishform"));
            xhr.send(formData);
        }
    </script>




<script>
    function addRowRoMenuTable(data) {
        var json = JSON.parse(data);
        var table = document.getElementById("menutable");
        var row = table.insertRow(-1);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);
        cell1.innerHTML = json["id"];
        cell2.innerHTML = json["title"];
        cell3.innerHTML = json["price"];
        cell4.innerHTML = json["ingredients"];
        cell5.innerHTML = json["weight"];
    }
</script>
</body>
</html>