<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Sign up</title>
</head>
<body>
<form action="/registration" method="post">
    <table>
        <tr>
            <td><label><b>First name</b></label></td>
        </tr>
        <tr>
            <td><input type="text" placeholder="Enter first name" name="firstName" required="true"/></td>
        </tr>
        <tr>
            <td><label><b>Last name</b></label></td>
        </tr>
        <tr>
            <td><input type="text" placeholder="Enter last name" name="lastName" required="true"/></td>
        </tr>
        <tr>
            <td><label><b>Login</b></label></td>
        </tr>
        <tr>
            <td><input type="text" placeholder="Enter login" name="login" required="true"/></td>
        </tr>
        <tr>
            <td><label><b>Password</b></label></td>
        </tr>
        <tr>
            <td><input type="password" placeholder="Enter password" name="pwd" required="true"/></td>
        </tr>
        <tr>
            <td><label><b>Phone number</b></label></td>
        </tr>
        <tr>
            <td><input type="tel" placeholder="" name="phoneNumber" required="true"/></td>
        </tr>
        <tr>
            <td><button type="submit">Sign Up</button></td>
        </tr>
    </table>
</form>
</body>
</html>